.Deploy {
    textarea {
        height: 10em;
        resize: vertical;
    }

    pre {
        border: 1px solid var(--color-11);
        white-space: pre-line;
        margin: 0;
        padding: 1ch;

        &.Error {
            border-color: var(--color-6);
            background: linear-gradient(var(--color-6), transparent);
        }

        &:empty::before {
            content: "No message.";
            opacity: 0.5;
            font-style: italic;
        }
    }
}
